.main-nav-header {
  width: 100%;
  height: 4rem;
  background-color: #0d0b85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  padding-left: 2%;
  color: whitesmoke;
}

.main-nav-header > nav > ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.main-nav-header > a {
  font-size: 1.25rem;
}

.main-nav-header > nav > ul > li {
  margin: 0 1rem;
}

.main-nav-header > nav > ul > li > a {
  font-size: 1.25rem;
}
