.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.overlay.show {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
